* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.nav-center ul {
    display: flex;
    gap: 32px;
}

.nav-center ul li {
    list-style: none;
}

.nav-btn button {
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}


.hero-Section {
    height: 674px;
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    padding: 70px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 1360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 32px;
}

.hero-content .Early {
    background-color: white;
    color: #30B868;
    border-radius: 20px;
    padding: 8px 12px;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: #30B868;
    border-radius: 50%;
}

.hero-Section .text {
    width: 770px;
    height: auto;
    font-size: 72px;
    font-weight: 700;
    font-style: bold;
    color: #FFFFFF;
    text-transform: capitalize;
}

.hero-Section .text-span {
    color: #30B868;

}

.hero-Section p {
    font-size: 18px;
    width: 1360px;
    height: auto;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}

.button {
    display: flex;
    gap: 16px
}

.first-btn {
    padding: 16px;
    text-align: center;
    background-color: #30B868;
    color: #FFFFFF;
    font-weight: 600;
    border: 1px solid #30B868;
    border-radius: 5px;
}

.second-btn {
    padding: 16px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 5px;
}

.Note-section {
    max-width: 1360px;
    margin: 120px auto;
}

.Note-header {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 40px;
}

.Note-header h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 12px;
}

.Note-header p {
    font-size: 16px;
    font-weight: 400;
}

.Card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
    flex-wrap: wrap;
}

.Note-card {
    
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    padding: 24px 16px;
    gap: 16px;
    background-color: #ffffff;
}

.Note-card img {
    height: 32px;
    width: 32px;
    background-color: #f95555;
    padding: 3px 4px;
    border-radius: 50%;
}

.Note-card h2 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.Note-card p {
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}

.Second-Brain-section{
    max-width: 1360px;
    margin: 120px auto;
    display: flex;
}
.Second-Brain-img{
    width: 600px;
    height: 600px;
}
.Second-Brain-text{
    width: 700px;
    height: 600px;
    padding: 100px 0 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.Second-Brain-text h3{
    color:#30B868;
    font-size: 16px;
    font-weight: 500;
}
.Second-Brain-text h2{
    font-size: 47px;
    font-weight: 700;
    font-style:bold;
}
.Second-Brain-text p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    
}
.p{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:16px
    
}
.p p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:16px
}
