*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 16px 120px;
}
.nav-center ul{
    display: flex;
    gap: 32px;
}
.nav-center ul li{
    list-style: none;
}
.nav-btn button{
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}


.hero-Section{
    height: 674px;
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    padding: 70px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    width: 1360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 32px;
}
.hero-content .Early{
    background-color: white;
    color:#30B868;
    border-radius: 20px;
    padding: 8px 12px;
}
.dot{
    height: 16px;
    width: 16px;
    background-color: #30B868;
    border-radius: 50%;
}
.hero-Section .text{
    width: 770px;
    height: auto;
    font-size:72px ;
    font-weight: 700;
    font-style: bold;
    color: #FFFFFF;
    text-transform: capitalize;
}
.hero-Section .text-span{
    color:#30B868;

}
.hero-Section p{
    font-size: 18px;
    width: 1360px;
    height: auto;
    color:#FFFFFF;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}
.button{
    display: flex;
    gap:16px
}
.first-btn{
    padding: 16px;
    text-align: center;
    background-color: #30B868;
    color: #FFFFFF;
    font-weight: 600;
    border: 1px solid #30B868;
    border-radius: 5px;
}
.second-btn{
    padding: 16px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 5px;
}